.button{
   display:inline-block;
   font-weight:bold;
   color:#800000;
   background:#deb887;
   width:30%;
   padding:4px;
   text-align:center;
   text-decoration:none;
}
body{
  background-image:url(../img/movie1.jpg);
  background-size:cover;
}
h1{
color:#f4a460;
font-style:italic;
font-weight:bold;
text-align:center;
font-size:50px;
}
#welcome{
font-weight:bold;
text-align:center;
font-size:40px;
color:#f4a460;
text-align:center;
}
form{
color:#800000;
font-size:20px;
font-weight:bold;
}
ul{
font-size:30px;
color:#800000;
background:#bc8f8f;
}
.movie{
   display:inline-block;
   font-weight:bold;
   font-size:20px;
   color:#B22222;
   background:#f4a460;
   width:22%;
   padding:20px;
   text-align:center;
   text-decoration:none;
   transition: .5s background-color;
   border-radius:10px;
}
.movie:hover{
background-color:#FA8072;
}
img{
margin-left:200px;
margin-top:100px;
}

