{% extends "base.html" %}
{% block content %}
    <div> <a class="movie" href="{{ url_for('movie',lang=lang ,mtype='horror') }}">Horror</a>
          <a class="movie" href="{{ url_for('movie',lang=lang,mtype='comedy') }}">Comedy</a>
          <a class="movie" href="{{ url_for('movie',lang=lang,mtype='romance')}}">Romance</a>
          <a class="movie" href="{{ url_for('movie',lang=lang,mtype='thriller') }}">Thriller</a>
    </div>
    {% if lang=='hollywood' %}
    <img class="wood" src="../static/img/holly.jpg" width="75%" height="75%">
    {% endif %}
    {% if lang=='bollywood' %}
    <img class="wood" src="../static/img/bolly.jpg" width="75%" height="75%">
    {% endif %}
    {% if lang=='sandalwood' %}
    <img class="wood" src="../static/img/sandal.jpg" width="75%" height="75%">
    {% endif %}
    {% if lang=='tollywood' %}
    <img class="wood" src="../static/img/tolly.jpg" width="75%" height="75%">
    {% endif %}
{% endblock %}
